@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="movies" class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Movie/movie.js")"></script>
}